body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #00050C;
}

.about-course-flex-item {
    margin: 1%;
    background-color: #0A181E;
}

.about-course-hr {
    border-top: 3px solid #175BFF;
    width: 10%;
    margin-left: 0;
}

.course-properties {
    

}

.flex-grow-60 {
    flex: 6;
}

.flex-grow-60 h1 {
    font-weight: bold;
    color: #175BFF;
}

.flex-grow-60 p {
    color: white;
    text-align: justify;
    line-height: 200%;
}

.flex-grow-40 {
    flex: 4;
    color: white;
    text-align: justify;
    line-height: 200%;
    margin: 1%;
}



.flex-grow-40 p {
    color: white;
    text-align: justify;
    line-height: 200%;
}

.flex-grow-40 h2 {
    font-weight: normal;
    color: #175BFF;
}


.smallest-padding {
    padding: 5%;
}

.wrapbox {
    line-break: auto;
    /* display: inline-block; */

}

.ampulheta-table {
    display: inline;
}

.ampulheta-image {
    float: left;
    margin-right: 5%;
}

.calendario-table {
    display: inline;
}

.calendario-image {
    float: left;
    margin-right: 5%;
}